/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}
/* ===== Colours ===== */
root{
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}
body{
    height: 100vh;
    background-color: var(body-color);
}
.menu{
    display:flex;
}
body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}
body.dark nav{
    border: 1px solid #393838;

}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    background-color:--nav-color;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
.navbar{
    display:flex;
    background: --nav-color;
    width: 800px;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.menu .logo-toggle{
    display: none;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .icon{
    display: flex;
}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}
.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    color:blue;
    transition: all 0.3s ease;
}
.nav-links li:hover a::before{
    opacity: 1;
}
.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.icon{
    display: flex;
    width: 200px;
    height: 50px;
}
.icon a{
    text-decoration: none;
    border: none;
}
.icon a i{
 height: 20px;
 padding: 0 15px;
 color: black;
 transform: translateY(15px);
}
.icon a i:hover{
    color: blue;
}
.dark-light i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}
body.dark{
    color: var(--text-color);
}
body.dark {
    color: var(--text-color);
}
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .navbar{
        width: 300px;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 280px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: #252426;
        color: whitesmoke;
        z-index: 100;
        transition: all 0.4s ease;
        flex-direction: column;
        
    }

    nav.active .menu{
        left: -0%;
    }
    .icon{
        transform: translate(-85px,500px);
    }
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }
    .menu .logo{
        width: 200px;
    }
    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        transform: translateY(50px);
        justify-content: space-between;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}
/*  First Section  */
.first-section {
    max-width: 1480px;
    height: 750px;
    background-image: url(6.jpg);
    background-size: cover;
    display: flex;
    position: relative;
}
.type{
    height:40px;
    width:235px;
    position:relative;
    top:18px;
    left:5px;
    border-radius:10px;
}
.sub {
    height: 30px;
    width: 30px;
    background-color: #fafafa;
    color: red;
    position: relative;
    top: 18px;
    border-radius: 50%;
}
@media only screen and (max-width: 1480px) {
    ul.our-primary-menu {
        position: relative;
        right: 0px;
    }
    .header-info {
        flex-direction: column;
        height: 200px;
        position: relative;
        right: 31%;
    }

    .header-button {
        flex-direction: column;
        position: relative;
        left: 8%;
    }
    .log1 {
        position: relative;
        top: 130%;
        right: 50%;
        width: 130px;
    }
}
.text1 {
    height: 100%;
    width: 60%;
    text-align: center;
    flex-direction: column;
}
.pic1 {
    height: 100%;
    width: 40%;
}
.text2 {
    font-size: 27px;
    color: whitesmoke;
    position: relative;
    top: 160px;
    right: 150px;
    font-family: 'Rubik', sans-serif;
}
.text3 {
    font-size: 50pt;
    font-weight: 600;
    margin-left: -3px;
    font-family: 'Rubik', sans-serif;
    color: whitesmoke;
    position: relative;
    top: 134px;
    left: -30px;
}
.text4 {
    font-size: 25pt;
    margin: 5px 0;
    color: whitesmoke;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    position: relative;
    top: 90px;
    left: 185px;
}
    .text4 span {
        color: red;
        font-weight: 500;
    }

.pic1 img {
    height: 250px;
    width: 250px;
    border: 4px solid white;
    border-radius: 50%;
    position: relative;
    top: 25%;
}
@media only screen and (max-width: 1480px) {
    .text1{
        width:50%;
        height:100%;
        position:relative;
        left:225px;
        top:300px;
    }
    .text2{
        font-size:20pt;
        position:relative;
        top:100px;
    }
     .text1 .text3 {
        font-size: 25pt;
        position:relative;
        width: 250px;
        right:300px;
        top:90px;
        transform:translateX(-120px);
    }
    .text4 {
        transform: translateY(15px);
        position:relative;
        top:60px;
        transform: translateX(-320px);
        font-size:20pt;
    }
    .text5 {
        position: relative;
        font-size: 20pt;
    }
    .pic1 img{
        height:200px;
        width:200px;
        position:relative;
        right: 150px;
        transform: translateY(-30px);
    }
}
